/*---------------------------*/
html, body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
}

*[class^="col-"] {
  padding: 0 !important;
}

*[class^="section"] {
  padding: 0 !important;
  margin: 0 !important;
  width: 99vw;
  height: 100vh;
}

/*----Accueil----*/
#logo {
  width: 15vw;
  height: auto;
}

#header, nav {
  text-align: center;
}

.navbar-expand-lg {
  display: flex;
  justify-content: center !important;
  background-color: rgba(233, 236, 239, 0.5) !important;
}

.section-1 {
  background-image: url("../img/pexels-photo-606540.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.panel {
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 2px 2px 2px #000;
}

.panel-2 .panel-body p {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.5em;
  color: #fff;
}

.jumbotron {
  padding: 0.5rem 0.5rem !important;
  background-color: rgba(233, 236, 239, 0.5);
  border-radius: 0 !important;
}
.jumbotron img {
  padding: 0;
  margin: 0;
}

.btn-reserver {
  background-image: url("../img/icon--hand.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 100px;
  background-size: 77px 39px;
  transition: all .3s ease-in-out;
  color: #fff !important;
  font-family: "Alfa Slab One", cursive;
  font-size: 2.1em;
}
.btn-reserver::before {
  content: '';
  display: block;
  position: absolute;
  top: 17%;
  left: 30%;
  height: 2px;
  width: 0vw;
  background-color: transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-property: all,left;
  transition-property: all,left;
}
.btn-reserver::after {
  content: '';
  display: block;
  position: absolute;
  top: 17%;
  right: 70%;
  height: 2px;
  width: 0vw;
  background-color: transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-property: all ,right;
  transition-property: all, right;
}
.btn-reserver:hover {
  background-position: 15px center;
}
.btn-reserver:hover::before {
  background-color: #fff;
  width: 10vw;
  background: -webkit-linear-gradient(left, #fff, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #fff, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #fff, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #fff, transparent);
  /* Standard syntax (must be last) */
}
.btn-reserver:hover::after {
  background-color: #fff;
  width: 10vw;
  background: -webkit-linear-gradient(right, #fff, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #fff, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #fff, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #fff, transparent);
  /* Standard syntax (must be last) */
}

h2 {
  font-family: "La Belle Aurore", cursive;
  color: #e60000;
  font-size: 3em;
}

form .form-group input[type='email'] {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 25vw;
  border-radius: 0 !important;
}
form .form-group input[type='email']::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
form .form-group input[type='email']::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
form .form-group input[type='email']:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
form .form-group input[type='email']:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.form-group {
  display: flex;
}

/*--------------------------------------------------*/
.section-2 {
  background-image: url("../img/resto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-top: 3px solid #e60000;
}
.section-2 .opacity {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  width: 99vw;
  height: 100vh;
}
.section-2 .h3 {
  color: #e60000;
  font-family: "La Belle Aurore", cursive;
  font-size: 4em;
}
.section-2 h3 {
  margin-top: -1rem;
  font-family: "Alfa Slab One", cursive;
  font-size: 4em;
}
.section-2 .desc {
  font-family: "Lobster", cursive;
}
.section-2 h4 {
  font-family: "Alfa Slab One", cursive;
  border-bottom: 1px dotted #e60000;
}
.section-2 .prix {
  font-family: "Lobster", cursive;
  color: #e60000;
}
.section-2 .menu-carte {
  border-top: 1px dotted #e60000;
  padding: 15px 0;
  width: 70%;
}
.section-2 .menu-carte li {
  list-style: none;
  display: inline;
}
.section-2 .menu-carte li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.95em;
  transition: all .5s ease-in-out;
}
.section-2 .menu-carte li a:hover {
  text-decoration: line-through;
  text-decoration-color: #e60000;
}
.section-2 .menu-carte .red-details {
  color: #e60000;
}

/*-------------GALLERY-------------*/
.section-3 {
  background-color: #212529;
  color: #fff;
  border-top: 3px solid #e60000;
}
.section-3 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section-3 .row .portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.section-3 .row .portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(230, 0, 0, 0.8);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}
.section-3 .row .portfolio-box .portfolio-box-caption:hover {
  opacity: 1;
}
.section-3 .row .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.section-3 a {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}
.section-3 a img {
  vertical-align: middle;
  border-style: none;
}
.section-3 .pager {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}
.section-3 .pager li {
  list-style: none;
  padding: 0.5rem 1rem;
  margin: 2rem 0.5rem;
  background-color: #e60000;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.section-3 .pager li a {
  color: #fff;
}
.section-3 .pager li a:hover {
  color: #212529;
  text-decoration: none;
}

/*----------------------resto-----------------------*/
.section-4 {
  background-color: #212529;
  border-top: 3px solid #e60000;
  color: #fff;
}
.section-4 #small-logo {
  max-width: 15vw;
  height: auto;
}
.section-4 .opening-hours-day {
  text-align: left;
  width: 100px;
  margin-right: 10px;
}
.section-4 .opening-hours, .section-4 .opening-hours-day {
  display: inline-block;
  /* width: 120px; */
  height: 30px;
  color: #fff;
  font-family: 'BentonSans', sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.8em;
}
.section-4 .opening-hours-divider {
  width: 140px;
  border-bottom: 3px solid #fff;
  display: inline-block;
  margin-bottom: 5px;
}
.section-4 .opening-hours {
  margin-left: 3rem;
}
.section-4 .bar-opening-hours {
  font-family: "Lobster", cursive;
  color: #e60000;
}
.section-4 h3 {
  font-family: "La Belle Aurore", cursive;
}

/*----------------------contact-----------------------*/
.section-5 {
  background-image: url("../img/tomatoes.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-top: 3px solid #e60000;
}
.section-5 h1 {
  text-align: center;
  margin-top: 7rem;
  font-family: "La Belle Aurore", cursive;
  font-size: 3em;
}
.section-5 input[type=text], .section-5 textarea {
  padding: 12px;
  border-bottom: 1px dotted #e60000;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff !important;
}
.section-5 input:focus, .section-5 textarea {
  outline: none !important;
}
.section-5 ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 0.7 !important;
}
.section-5 ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  opacity: 0.7 !important;
}
.section-5 :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  opacity: 0.7 !important;
}
.section-5 :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  opacity: 0.7 !important;
}
.section-5 input[type=submit] {
  border-bottom: 1px dotted #e60000;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  font-family: "La Belle Aurore", cursive;
  font-size: 2em;
}
.section-5 input[type=submit]:hover {
  cursor: pointer;
  color: #e60000;
}

/*# sourceMappingURL=style.css.map */
